body{
	background-image: url("../media/background.png");
 	background-size: auto;
 	background-attachment: fixed;
 	background-position: center;
}

nav{
	background-image: url("../media/header.png");
	background-size: cover;
	background-color: black;
	font-family: verdana;
}

p{
	text-align: center;
	color:white;
	font-family: verdana;
  	background-color: black;
  	width: 800px;
  	margin: 0px;
  	padding: 5px;
 	border: 5px solid gray;
 	left: 270px;
 	position: sticky;
}

h5{
  color: black;
  font-size: 200%;
  font-family: verdana;
  text-align: center;
}

h6 {
  color: white;
  font-family: fantasy;
  text-align: center;
}

.navbar {
	size: 120%;
	text-align: center;
	color:white;
	font-family: verdana;
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.Pasatiempos{
	position: sticky;
	text-align: center;
	color:white;
	font-family: verdana;
  	background-color: black;
  	width: 800px;
  	margin: 0px;
  	padding: 5px;
 	border: 5px solid gray;
 	left: 270px;
 }

 .GustosVisuales{
	position: absolute;
	text-align: center;
	color:white;
	font-family: verdana;
  	background-color: black;
  	width: 800px;
  	margin: 0px;
  	padding: 5px;
 	border: 5px solid gray;
 	left: 270px;
 	top: 401px;
 }

  .GustosMusicales{
  	position: absolute;
	text-align: center;
	color:white;
	font-family: verdana;
  	background-color: black;
  	width: 800px;
  	margin: 0px;
  	padding: 5px;
 	border: 5px solid gray;
 	left: 270px;
 	top: 850px;
 }